body {
    background-color: #CD3831;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    width: auto;
    height: auto;
}
a {
    color:white;
}
.flrt {
    float:right;
}
.fllt {
    float:left;
}
.open {
	border-bottom: 6px solid white;
}
.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.hh {
    color:#292e31;
}
.nut-butt {
    background-color:#f28980;
}
h1 {
    text-align:center;
}
th {
    font-family:"Comic Sans MS";
    font-size:55px;
}
td {
    font-family:"Comic Sans MS";
    font-size:39px;
}
.bordercircle {
    border-radius:50%;
}
footer {
    background-color: #a6261f;
    color: white;
    padding:15px;
    margin-top:15px;
    border-top: 10px solid white;
    width:100%;
}
.header {
    padding: 100px;
    text-align: center;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    width: auto;
}
.headerr {
    padding: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    width: auto;
}
iframe {
    display: block; /* iframes are inline by default */
    background: #000;
    border: none; /* Reset default border */
    height: 100vh; /* Viewport-relative units */
    width: 100vw;
}
        /*Header Buttons*/
        /* Style the tab buttons */
.tablink {
    background-color: #E36A62;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
    margin-bottom:10px
}
.tablink:after {
    position:absolute;
    content: "";
    display: block;
    width: 0%;
    paddint-top:20px;
    border-bottom: 5px solid white;
    transition:1s;
}
.tablink:hover:after {
    width:10%;
}
            /* Change background color of buttons on hover */
.tablink:hover {
    background-color: #f28980;
}
        /* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}